/* Reset and base styles */
* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}

html,
body {
  height: 100%; /* Ensure full height */
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #f0f4f8; /* Light background */
  color: #333; /* Dark text */
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Full height */
}

.main-content {
  flex: 1; /* Take up remaining space */
}

#root {
  max-width: 100%;
  /* margin: 0 auto;
  padding: 2rem; */
  text-align: center;
}
